[xin_1]
file={{ role_path }}/files/{{ nitrogen_background | default("pexels-harrison-candlin-2441454.jpg") }}
mode=5
bgcolor=#000000

[xin_0]
file={{ role_path }}/files/{{ nitrogen_background | default("pexels-harrison-candlin-2441454.jpg") }}
mode=5
bgcolor=#000000
